@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Lato:400,700,900,700italic,900italic,400italic,300italic,300);


body {
  background: #f1f1f1;
  letter-spacing: 0.5px;
}


.app-activsm-priorities
{
  padding: 20px 20px 160px 20px;

  h1
  {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #0076d7;
    letter-spacing: 1px;
    margin: 10px 0 20px;
  }
  
  .activism-actions
  {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    -webkit-padding-start: 0px;
    list-style: none;
    font-size: 15px;
    max-width: 800px;
    border-bottom: 2px solid #ddd;
    
    li
    {
      margin-bottom: 10px;

      p
      {
        font-weight: 600;
        font-size: 17px;
        color: #444;
        margin: 0 0 5px;
      }
    }
    
    .activism-action-links
    {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      -webkit-padding-start: inherit;
    }
  }
  
  .chosen-state .activism-actions
  {
    border-bottom: none;
  }
}

.activism-action-link
{
  background: #ea504e;
  padding: 9px 13px;
  color: #FFFFFF;
  border-radius: 4px;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0px 3px 10px 3px;
  text-transform: uppercase;
  font-size: 13px;
  
  &:hover
  {
    background-color: #ea504e;
    color: white;
    text-decoration: none;
  }
}

h2
{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #0076d7;
  text-align: center;

}

.dropdown-statelist 
{
  z-index: 2;
  margin: 10px auto;
  display: inline-block;
  display: flex;
  justify-content: center;
  width: 260px;
  
  button
  {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #444;
    letter-spacing: 1px;
    font-size: 26px;
    text-transform: none;
    
    .caret 
    {
      margin-left: 2px;
      border-width: 6px;
    }
  }
  .dropdown-menu
  {
    max-height: 500px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    
    .dropdown-item
    {
      font-family: 'Roboto Slab', serif;
      font-weight: 700;
      color: #444;
      font-size: 20px;
      padding: 5px 20px 5px 10px;
      
			&:before
      {
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
      }
      
      &.primary-past:before
      {
        background: #999;
      }
      
      &.primary-upcoming:before
      {
        background: #0076d7;;
      }
      
      &.primary-soon:before
      {
        background: #ea504e;
      }           
    }
  }
}
// Chosen State Styles //
.chosen-state
{
  text-align: center;
  
  .primary-date
  {
    display: inline-block;
    font-weight: 800;
    color: #333;
    margin: 0px 10px 10px;
  }
  .delegate-info
  {
    display: inline-block;
    color: #666;

    .delegate-count-bernie
    {
      font-weight: 800;
      color: #0076d7;
    }
    
    .delegate-count-total
    {
      font-weight: 800;
      color: #333;
    }
    .delegate-percentagewon
    {
      font-weight: 800;
      color: #0076d7;
    }
  }
}



