
@mixin minWidths($style, $base: '', $w600: '', $w800: '', $w950: '', $w1280: '')
{
  @if($base != ''){ #{$style}:$base; }
  @if($w600 != ''){ @media screen and (min-width: 600px) { #{$style}:$w600;} }
  @if($w800 != ''){ @media screen and (min-width: 800px) { #{$style}:$w800;} }
  @if($w1280 != ''){ @media screen and (min-width: 1280px) { #{$style}:$w1280;} }
}

.map-activism
{
  position: relative;
  @include minWidths(margin-top, 0px, $w600: -40px, $w1280: -80px);
}

.activism-map-popup
{
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  font-family: 'Lato', sans-serif;
  
  h3
  {
    background: white;
    color: #0076d7;
    padding: 10px;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    width: 100%;
    margin: 0;
  }
  .primary-date
  {
    padding: 10px 10px 0 10px;
    font-weight: 800;
    color: #333;
  }
  .delegate-info
  {
    padding: 10px;
    color: #666;
    
    .delegate-count-bernie
    {
      font-weight: 800;
      color: #0076d7;
    }

    .delegate-count-total
    {
      font-weight: 800;
      color: #333;
    }
    .delegate-percentagewon
    {
      font-weight: 800;
      color: #0076d7;
    }
  }
  p
  {
    padding: 0 10px;
    font-weight: 600;
    
    &.message-selectstate
    {
      color: #0076d7;
      font-size: 14px;
    }
  }
}
